<?php
global $CFG;

$CFG->dbhost    = "{$dbHost}";
$CFG->dbname    = "{$dbName}";
$CFG->dbuser    = "{$dbUser}";
$CFG->dbpass    = "{$dbPassword}";

$CFG->wwwroot   = "http://{$domain}";
$CFG->dataroot  = "{$dataPath}";

